services:
  mongo:
    image: mongo:6
    ports:
      - "27017:27017"

  users-service:
    build: ../users-service
    environment:
      - PORT=8081
      - MONGO_URL=mongodb://mongo:27017/easyorders
    depends_on:
      - mongo
    expose:
      - "8081"

  orders-service:
    build: ../orders-service
    environment:
      - PORT=8082
      - MONGO_URL=mongodb://mongo:27017/easyorders
    depends_on:
      - mongo
    expose:
      - "8082"

  api-gateway:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - users-service
      - orders-service
